[Unit]
Description=AKA tuned-resonator curriculum-barnacle syslog service
After=curriculum-beanstalk.service
Requires=curriculum-beanstalk.service

[Service]
Type=simple
WorkingDirectory=/root/tuned-resonator/
ExecStart=/usr/bin/python pysyslog.py
Restart=always
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target