[Unit]
Description=AKA tuned-resonator curriculum-barnacle beanstalk service

[Service]
Type=simple
WorkingDirectory=/root/tuned-resonator/
ExecStart=/bin/sh beanstalk.sh
Restart=always
RestartSec=1
KillMode=process