[Unit]
Description=AKA tuned-resonator curriculum-barnacle worker service
After=curriculum-syslog.service
Requires=curriculum-syslog.service

[Service]
Type=simple
WorkingDirectory=/root/tuned-resonator/
ExecStart=/usr/bin/python worker.py
ExecStart=/usr/bin/python worker.py
Restart=on-abort
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target