[Unit]
Description=AKA tuned-resonator curriculum-barnacle server service

[Service]
Type=simple
WorkingDirectory=/root/tuned-resonator/server/
ExecStart=/usr/bin/python server.py &
KillMode=process
