[Unit]
Description=AKA tuned-resonator curriculum-barnacle resonator (mDNS updater) service
After=curriculum-syslog.service
Requires=curriculum-syslog.service

[Service]
Type=simple
WorkingDirectory=/root/tuned-resonator/
ExecStart=/usr/bin/python resonator.py
RestartSec=5
KillMode=process
