[Unit]
Description=AKA tuned-resonator curriculum-barnacle resonator (mDNS updater) service
After=curriculum-beanstalk.service
Requires=curriculum-beanstalk.service

[Service]
Type=simple
WorkingDirectory=/root/tuned-resonator/
ExecStart=/usr/bin/python resonator.py
Restart=always
RestartSec=60
KillMode=process

[Install]
WantedBy=multi-user.target