[Unit]
Description=AKA tuned-resonator curriculum-barnacle beanstalk timer

[Timer]
OnActiveSec=45
OnUnitInactiveSec=1
Unit=curriculum-beanstalk.service

[Install]
WantedBy=multi-user.target