[Unit]
Description=AKA tuned-resonator curriculum-barnacle server service
After=curriculum-beanstalk.service
Requires=curriculum-beanstalk.service

[Service]
Type=simple
WorkingDirectory=/root/tuned-resonator/server/
ExecStart=/usr/bin/python server.py
Restart=always
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
