<?xml version="1.0" standalone="no"?><!--*-nxml-*--><!DOCTYPE service-group SYSTEM "avahi-service.dtd"><service-group>
  <name replace-wildcards="yes">http://akamediasystem.com?total=68814217</name>
  <service>
    <host-name>data.sparkfun.com</host-name>
    <type>_http._tcp</type>
    <port>80</port>
    <txt-record>path=/streams/RMMAa2YvMyHxRr123jqG/</txt-record>
  </service>
</service-group>
