[Unit]
Description=AKA tuned-resonator timer

[Timer]
OnActiveSec=200
OnUnitInactiveSec=600
Unit=resonator.service

[Install]
WantedBy=multi-user.target