[Unit]
Description=AKA tuned-resonator service

[Service]
Type=simple
WorkingDirectory=/root/tuned-resonator/
ExecStart=/usr/bin/python resonator.py
KillMode=process
