<!DOCTYPE html>
<html>
<head>
    <title>curriculum</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,500' rel='stylesheet' type='text/css'>
    <meta http-equiv="refresh" content="20">
    <style type="text/css">
        body,html {
            font-family: 'Roboto', sans-serif;
            font-size:2em;
            font-weight: 100;
            margin:100px auto;
            text-align: center;
        }
        strong {
            font-weight: 500;
            display: block;
            margin:20px 0px 0px 0px;
        }
    </style>
</head>
<body>

{% for k in keywords %}
<strong>{{k}}</strong>
{% end for %}

</body>
</html>